* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #374151;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

nav {
    max-width: 1080px;
    margin: 72px auto;
    display: flex;
    /* gap: 300px; */
    align-items: center;
}

nav ul {
    display: flex;
    gap:39px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 346px;
}

h1 {
    font-size: 24px;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 30px;
}

p {
   font-size: 16px;
   line-height: 30px;
}

nav a {
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    margin-bottom: 77px;
    text-align: center;
}

#search::placeholder, #search:read-write {
    font-size: 16px;
    line-height: 18.75px;
    color: rgba(255, 255, 255, 0.6);
}

#search:focus::placeholder {
    color: transparent;
}

#search {
    height: 40px;
    padding-left: 49px;
    border: none;
    border-radius: 100px;
    background: #1F293799;
    max-width: 224px;
}

#heroDate {
    font-size: 16px;
    line-height: 16.41px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0;
    margin-bottom: 14px;
}

#cutaway {
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
}

#cutaway>div {
    display: flex;
    gap:16px;
}

#cutaway img {
    width: 50px;
    height: 50px;
}

#name, footer > p {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

#post {
    font-size: 14px;
    line-height: 28px;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);    ;
}

.logoImage img {
    position: absolute;
    height: 23px;
    width: 11px;
    top: 6px;
    left: 12px;
}

.logoImage {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: rgba(75, 85, 99, 1);
    border-radius: 3px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    margin-right: 11px;
}

.searchInput {
    position: relative;
}

.searchInput img {
    position: absolute;
    left: 18px;
    top: 14px;
}

.starter{
    text-align: center;
}

.mainContent {
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    gap:39px;
    align-items: center;
    margin-bottom: 103px;
}

.mainContent img {
    height: 594px;
    width: 894px;
    margin-bottom: 30px;
}

.mainContent p {
    max-width: 708px;
}

.heroText {
    font-size: 20px;
    line-height: 32px;
    margin-top: 0;
}